page-container {
    border: 5px solid #cfecff; /* Set the border color */
    border-radius: 15px; /* Rounds the corners */
}


@keyframes fade-in {
  0% {
    opacity: 0;
    /* transform: scale(0.97); */
  }

  100% {
    opacity: 1;
    /* transform: scale(1); */
  }
}

.animate-fade-in {
    animation: fade-in 0.4s ease-in;
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(20px); /* Starts 20px to the right */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* Ends at the original position */
  }
}

.animate-fade-in-right {
  animation: fade-in-right 0.4s ease-in;
}


:root[data-mantine-color-scheme="light"]{ 
        
    body {
        background-color: var(--light-color-body);
    }
}

:root{
  --light-color-body: rgb(245, 247, 248);
  --light-color-card: rgb(235, 240, 243);
}
.banner {
      background-color: #fa5252; /* Material Red 50 */
      padding: 40px 24px;
      text-align: center;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Subtle elevation */
      border-radius: 6px;
    }

    .banner h1 {
      margin: 0;
      font-size: 2rem;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.87);
    }

    .banner p {
      margin: 8px 0 0;
      font-size: 1rem;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.6);
    }
/*.mantine-Tabs-tab {*/
/*  padding-bottom: var(--mantine-spacing-sm);*/
/*}*/
/*.mantine-Tabs-tab:hover {*/
/*  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));*/
/*  border-radius: var(--mantine-radius-md);*/
/*  padding-bottom: var(--mantine-spacing-sm);*/
/*}*/
